name: Update GeoLite2 CSV & Convert

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 4"

jobs:
  update-geoip:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: ./go.mod

      - name: Update GeoLite2 CSV & Convert to MMDB
        env:
          WORKDIR: ${{ github.workspace }}
        run: |
          set -e
          GEOLITE2DIR="$WORKDIR/geolite2"
          ZIP_URL="https://raw.githubusercontent.com/Loyalsoldier/geoip/release/GeoLite2-Country-CSV.zip"
          ZIP_FILE="$WORKDIR/GeoLite2-Country-CSV.zip"

          echo "===== STEP 1: Download GeoLite2 CSV ====="
          mkdir -p "$GEOLITE2DIR"
          rm -rf "$GEOLITE2DIR"/*
          rm -f "$ZIP_FILE"

          wget -O "$ZIP_FILE" "$ZIP_URL"
          unzip "$ZIP_FILE" -d "$WORKDIR"

          EXTRACTED_DIR=$(find "$WORKDIR" -maxdepth 1 -type d -name "GeoLite2-Country-CSV_*" | head -n1)

          mv "$EXTRACTED_DIR"/GeoLite2-Country-Blocks-IPv4.csv "$GEOLITE2DIR"/
          mv "$EXTRACTED_DIR"/GeoLite2-Country-Blocks-IPv6.csv "$GEOLITE2DIR"/
          mv "$EXTRACTED_DIR"/GeoLite2-Country-Locations-ru.csv "$GEOLITE2DIR"/
          mv "$EXTRACTED_DIR"/GeoLite2-Country-Locations-en.csv "$GEOLITE2DIR"/
          mv "$EXTRACTED_DIR"/GeoLite2-Country-Locations-zh-CN.csv "$GEOLITE2DIR"/GeoLite2-Country-Locations-cn.csv
          rm -rf "$EXTRACTED_DIR"
          rm -f "$ZIP_FILE"

          echo "✅ CSV updated. Contents of $GEOLITE2DIR:"
          ls -l "$GEOLITE2DIR"

          echo "===== STEP 2: Convert CSV → MMDB ====="
          cd "$WORKDIR"
          go run . convert -c config.json
          echo "✅ Conversion complete!"
