name: Build GeoIP MMDB

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 4"  # 每周四执行一次

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: ./go.mod

      - name: Prepare directories
        run: |
          mkdir -p ./geolite2 ./output

      - name: Download GeoLite2 CSV
        env:
          LICENSE_KEY: ${{ secrets.MAXMIND_GEOLITE2_LICENSE }}
        run: |
          wget -O ./GeoLite2-Country-CSV.zip "https://raw.githubusercontent.com/Loyalsoldier/geoip/release/GeoLite2-Country-CSV.zip"
          unzip ./GeoLite2-Country-CSV.zip -d ./geolite2_temp
          EXTRACTED_DIR=$(find ./geolite2_temp -maxdepth 1 -type d -name "GeoLite2-Country-CSV_*" | head -n1)
          mv "$EXTRACTED_DIR"/* ./geolite2/
          rm -rf ./geolite2_temp GeoLite2-Country-CSV.zip

      - name: Convert CSV → MMDB
        run: |
          go run . convert -c config.json

      - name: Upload MMDB files to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file_glob: true
          file: ./output/*
          release_name: ${{ github.run_id }}
          tag: geoip-${{ github.run_id }}

      - name: List output files
        run: ls -l ./output
