name: Build GeoIP MMDB

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 4"  # 每周四执行一次

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: ./go.mod

      - name: Prepare directories
        run: |
          mkdir -p ./geolite2

      - name: Download GeoLite2 CSV
        run: |
          wget -O ./GeoLite2-Country-CSV.zip "https://raw.githubusercontent.com/Loyalsoldier/geoip/release/GeoLite2-Country-CSV.zip"
          unzip ./GeoLite2-Country-CSV.zip -d ./geolite2_temp
          EXTRACTED_DIR=$(find ./geolite2_temp -maxdepth 1 -type d -name "GeoLite2-Country-CSV_*" | head -n1)
          mv "$EXTRACTED_DIR"/* ./geolite2/
          rm -rf ./geolite2_temp GeoLite2-Country-CSV.zip

      - name: Convert CSV → MMDB
        run: |
          go run . convert -c config.json
          # 将输出从 ./output 移动到根目录
          mv ./output/Cn.mmdb ./Cn.mmdb
          mv ./output/Ru.mmdb ./Ru.mmdb
          mv ./output/Cn-Ru.mmdb ./Cn-Ru.mmdb

      - name: Commit and push MMDB files
        run: |
          git config --local user.name "github-actions[bot]"
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add -f Cn.mmdb Ru.mmdb Cn-Ru.mmdb
          git commit -m "Update GeoIP MMDB"
          git push

      - name: List output files
        run: ls -l
